body{
    background-color: rgba(6, 83, 6, 0.856) ;
}
h1{
    font-size: 60px;
}
.parrafo-01{
    color: white;
    font-style: italic;
    font-size: 26px;
}
.parrafo-02{
    color: rgb(204, 171, 109);
    font-size: 26px;
}
.parrafo-03{
    color: rgb(236, 79, 51);
    font-style: normal;
    font-size: 26px;
}
.parrafo-04{
    color: rgb(175, 36, 36);
    font-style: normal;
    font-size: 26px;
}