body{
    background-color: 
    rgba(168, 218, 220, 1);
}
h1{
    font-family: 'Sail', cursive;
    color: rgba(230, 57, 54, 1);
    font-size: 72px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}
.contenedor-navegacion{
    background-color: rgba(69, 123, 157, 1);
    height: 83px;
}
.imagen-inicio{
    width: 118px;
    height: 78px;
    margin-left: 11px;
    margin-top: 3px;
    margin-bottom: 2px;
}
.estilo-menu{
    color: rgba(241, 250, 238, 1);
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    margin: auto;
}
.imagen-body{
    width: 448px;
    height: 538px;
    margin-top: 33px;
    
}
.texto-body{
    color: black;
    font-family: Saira Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 90%;
    width: 640px;
    height: 538px;
    margin-left: 559px;
    margin-top: -500px;
    text-align: left;
}
hr{
    color:  rgba(69, 123, 157, 1);
}
