body{
    background-color: #D3D3D3;
}
/* Header */
.titulo-principal{
    color: black;
    font-size: 48px;
    text-align: center;
    letter-spacing: 20px;
}
/* Main */
.contenido-principal{
    /* Medidas relativas px,%, */
    width: 90%;
    margin: 0 auto;
}
.contenido{
    width: 70%;
    margin: 0 auto;
}
.contenido-principal .encabezado{
    background-color: grey;
    color: white;
}
.contenido-principal .contenido-imagen{
    float: left;
}
.contenido-principal .contenido-texto{
    margin-left: 150px;
}
.contenido-principal .contenido-texto p{
    text-indent: 9%;
    text-align: justify;
}