.formulario{
    background-color: green;
    border: 15px solid gray;
    border-radius: 15px ;
    width: 350px;
    height: 350px;
    padding: 25px;
    align-self: center;
}
h3{
    color: white;
}
.color-blanco{
    color: white;
    display: inline-block;
}
#borde-rojo{
    border: 2px solid red;
    margin: 5px;
    display: inline-block;
}
.separacion{
    color: white;
}
