body{
    background-color: tomato;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#titulo{
    text-align: center;
}
button{
    width: 80%;
    background: grey;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 100px;
}