body{
    background-color: crimson;
}
table, tr, th, td{
    border: 1px solid  black;
}
table{
    width: 350px;
}
.enlace{
    display: inline-block;

    background-color:  violet;
}
#bloque{
    text-align: center;
    background-color: chartreuse;
}