body{
    background-color: rgb(135, 235, 213);
}
h1{
  text-align: center;
}
table, tr, th, td{
    border: 1px solid black;
    margin: auto;
}
.fondocafe{
    background-color: rgb(160, 97, 45);
}
.fondonegro{
    background-color: black;
}
.fondoverde{
    background-color: green;
}
