/*Forma de colocar la imagen copiando el URL desde el explorador*/
/*body{ background-image: url(https://wallpaperaccess.com/full/1608694.jpg);
    /*background-repeat: no-repeat;*/
    /*background-size: cover ;
}*/
/* Forma de colocar la imagen pero guadando la imagen desde de tus carpetas*/
/*body{
    background-image: url(../img/imgdenavidad.png);
    background-repeat: no-repeat;
    background-size: cover ;
}*/
/*El comando font-family sirve para cambiar 
el tipo de fuente*/
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.subtitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.caja{
    width: 300px;
    height: 300px;
    font-size: 50px;
    /*margin: 20px;*/
    margin-bottom: 20px;
    margin: 20px;
    /*padding: 20px;*/
    padding: 20px;
    border-radius: 50px;
}
.rojo{
   /* background-color: red;*/
   border: 5px solid red;
   font-size: 100px;
}
.verde{
    /*background-color: green;*/
    border: 5px solid green;
}
.azul{
    /*background-color: blue;*/
    border: 5px solid blue;
}